<div id="heading">
  <span>Send me a message!</span>  
</div>
<div id="conMes">
	<h1 class="center">Thank you for yor message.</h1>
	<p class="center">I will get back to you soon!</p>
	<%= link_to "Return Home", root_path, id: "contactButton" %>
</div>
