body{
	font-family: 'Libre Baskerville', serif !important;
}
.navbar-nav{
	position: absolute;
    margin: 0 0 0 -150px !important;
    left: 50%;
    right: 50%;
    width: 300px;
    /*background: blue;*/
}
.navbar-collapse.collapse {
	text-align: center;
}

.navbar-nav{
	li{
		font-size: 15px;
	}
}

@media (min-width: 768px) {
    .navbar-nav {
        float:left;
        margin: 0 0 0 -150px;
        /*position: absolute;*/
    }

    .navbar-nav>li {
        float: left;
        width: 100px;
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

/*****************INTRO SECTION***************/

#intro-wrapper{
  margin: 10% auto;
  position:absolute;
}
#showcase {
  background: no-repeat center center fixed !important;
  background-attachment: scroll !important;
  height:100%;
  width:100%;
    img{
      max-width: 90%;
      max-height: 100%;
    }
  }


/******************ABOUT SECTION***************/


#aboutinfo{
  padding:5%;
  text-align: center;
  background: #eee;
  width: 100%;
}

#photoWrapper{
  height: 250px;
  min-height: 100%;
  /*padding-bottom: 5%;*/
  margin: 0 auto;
  background: #eee;
  text-align:center;
  position: relative;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;

}

#profile{
  display: inline-block;
  height: inherit;
  width: 34%;
  padding: 1%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;

  img {
    height:100%;
    max-height:100%;
    margin: 0 auto;
    }
}




#left{
    float:left;
    width:33%;
    height: inherit;
    padding-left:5%;
}

#right
{
    float:right;
    width:33%;
    height:inherit;
    padding-right:5%;
}
#half{
    height:50%;
    border-bottom: 1px solid black;
}
#abouttext{
  /*margin-top: 10%;
  padding:8%;
  bottom: 8%;*/
  font-size: 16px;
  height:60%;
  padding-top:3%;
}

/**************** ABOUT ANIMATION CLASSES**************/

.photo{
    transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}
.change{
    transform: perspective(800px) rotateX(-90deg);
}
